body {
  margin: 0;
  font-size: 332;
}

.parent {
  background: blue;
  height: 60vh;
  padding: 1rem;
  gap: 10px;

  /* flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
  /* flex-direction: column; */
  align-items: center;
}

.parent > div {
  background: grey;
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.parent > div:nth-child(odd) {
  background: red;
}

.item-4 {
  align-self: flex-end;
}

.item-6 {
  align-self: flex-start;
}

.item-1 {
  order: 1;
}
.item-2 {
  order: 1;
}

.item-8 {
  order: -1;
}

.item-9 {
  order: -1;
  flex-grow: -2;
}

.item-3 {
  flex-grow: 1;
}
